<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795677674012-d3m6bio17fjsa54hhr2rdbjrocjm89ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795677674012-d3m6bio17fjsa54hhr2rdbjrocjm89ie</string>
	<key>API_KEY</key>
	<string>AIzaSyB09qThY-RSR9w1q4veO4bTV0FB3uFXhpo</string>
	<key>GCM_SENDER_ID</key>
	<string>795677674012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aswaqqnet.NewPj1</string>
	<key>PROJECT_ID</key>
	<string>hlacab-b8d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>hlacab-b8d9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795677674012:ios:3de513d3b98b11ad</string>
	<key>DATABASE_URL</key>
	<string>https://hlacab-b8d9a.firebaseio.com</string>
</dict>
</plist>